/* Red Hat Black */
@font-face {
    font-family: "RedHatBlock";
    src: url("../assets/fonts/RedHatDisplay-Black.ttf");
    font-weight: 900;
    font-display: swap;
}

/* Red Hat Medium */
@font-face {
    font-family: "RedHatMedium";
    src: url("../assets/fonts/RedHatDisplay-Medium.ttf");
    font-weight: 400;
    font-display: swap;
}
