/* Custom CSS Variables */
:root {
  /* Typography Variables */
  --texpreset-1: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-1-font-size: 6.4rem;
  --textpreset-1-line-height: 110%;
  --textpreset-1-letter-spacing: 0rem;
  --texpreset-2: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-2-font-size: 4rem;
  --textpreset-2-line-height: 110%;
  --textpreset-2-letter-spacing: 0rem;
  --texpreset-3: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-3-font-size: 1.6rem;
  --textpreset-3-line-height: 110%;
  --textpreset-3-letter-spacing: 0.4rem;
  --texpreset-4: "RedHatMedium", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-4-font-size: 1.8rem;
  --textpreset-4-line-height: 110%;
  --textpreset-4-letter-spacing: 0rem;
  --texpreset-5: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-5-font-size: 1.6rem;
  --textpreset-5-line-height: 150%;
  --textpreset-5-letter-spacing: 0rem;
  /* Color Variables */
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);

  /* Spacing Variables */
  --spacing-1400: 12.2rem;
  --spacing-1000: 8rem;
  --spacing-900: 7.2rem;
  --spacing-800: 6.4rem;
  --spacing-700: 5.6rem;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
  --sapcing-50: 0.4rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /*Common Styles*/
  .number {
    display: flex;
    flex-direction: column;
    align-items: center;
    .vertical-line {
      border: 0.1rem solid var(--slate-300);
      height: var(--spacing-1000);
    }
    .circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: var(--spacing-700);
      height: var(--spacing-700);
      border: 0.1rem solid var(--slate-300);
      border-radius: 99rem;

      color: var(--slate-600);
      font-feature-settings: "liga" off, "clig" off;
      font-family: var(--texpreset-5);
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 900;
      line-height: 150%;
    }
  }

  background: var(--white);
  /* main style */
  .main {
    /* nav style */
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      gap: var(--spacing-100);
      padding: 4.8rem var(--spacing-1000) 0rem var(--spacing-1000);

      .logo {
        width: 7.9rem;
        height: 2.3rem;
        flex-shrink: 0;
      }
    }
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: var(--spacing-100);
      padding: var(--spacing-800) var(--spacing-400) var(--spacing-400)
        var(--spacing-400);

      .hero-wrapper {
        /*In mobile layout hide the desktop hero images*/
        .left-hero-img,
        .right-hero-img {
          display: none;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap: 4.8rem;
        max-width: 30.5rem;

        .hero-img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          height: 16rem;

          width: 43.3rem;

          .compind-hero-img {
            width: 43.3rem;
          }
        }
        .hero-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: var(--spacing-300);

          .hero-title {
            align-self: stretch;
            color: var(--slate-900);
            text-align: center;
            font-feature-settings: "liga" off, "clog" off;
            font-family: var(--texpreset-1);
            font-size: 4rem;
            font-style: normal;
            font-weight: 900;
            line-height: var(--textpreset-1-line-height);
          }
          .hero-info {
            align-self: stretch;
            color: var(--slate-600);
            text-align: center;
            font-feature-settings: "liga" off, "clog" off;
            font-family: var(--texpreset-4);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
          }
          .button-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-200);

            .hero-primary-button {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: var(--spacing-100);
              padding: var(--spacing-200) var(--spacing-500);
              border: none;
              border-radius: 2.9rem;
              background: var(--cyan-600);
              color: var(--white);
              font-feature-settings: "liga" off, "clog" off;
              font-family: var(--texpreset-5);
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 900;
              line-height: 150%;
            }
            .hero-secondary-button {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: var(--spacing-100);
              padding: var(--spacing-200) var(--spacing-500);
              border: none;
              border-radius: 2.9rem;
              background: var(--purple-600);
              color: var(--white);
              font-feature-settings: "liga" off, "clog" off;
              font-family: var(--texpreset-5);
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 900;
              line-height: 150%;
            }
          }
        }
      }
    }
    .main-content {
      .main-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: var(--spacing-800);
        padding: var(--spacing-400) var(--spacing-400) var(--spacing-800)
          var(--spacing-400);
        /*for number and vertical line I rise the styles to be common styles. DRY*/
        .image-gallery {
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: stretch;
          flex-wrap: wrap;
          gap: var(--spacing-200);

          .gallery-img {
            width: 14.75rem;
            height: 15.7rem;
            flex-shrink: 0;
            border-radius: 0.8rem;
          }
        }
        .main-content-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: var(--spacing-400);

          .main-content-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            gap: var(--spacing-200);

            .main-content-intro {
              color: var(--cyan-600);
              font-feature-settings: "liga" off, "clig" off;
              font-family: var(--texpreset-3);
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 900;
              line-height: 110%;
              letter-spacing: 0.4rem;
              text-transform: uppercase;
            }
            .main-content-title {
              color: var(--slate-900);
              text-align: center;
              font-feature-settings: "liga" off, "clig" off;
              font-family: var(--texpreset-2);
              font-size: 3.2rem;
              font-style: normal;
              font-weight: 900;
              line-height: 110%;
            }
          }
          .main-content-text {
            color: var(--slate-600);
            text-align: center;
            font-feature-settings: "liga" off, "clig" off;
            font-family: var(--texpreset-4);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    .number {
      position: absolute;
      bottom: -89.5rem;
      .circle {
        background: var(--white);
      }
    }
    .footer-hero {
      position: relative;
      bottom: -10.7rem;
      z-index: -2;
      background: url(../assets/mobile/image-footer.jpg) lightgray 50% -2% / cover
        no-repeat;

      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: var(--spacing-800);
      padding: var(--spacing-800) var(--spacing-400);

      .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: var(--spacing-300);

        .footer-content-title {
          color: var(--white);
          text-align: center;
          font-feature-settings: "liga" off, "clig" off;
          font-family: var(--texpreset-2);
          font-size: 3.2rem;
          font-style: normal;
          font-weight: 900;
          line-height: 110%;
        }
        .footer-content-text {
          color: var(--white);
          text-align: center;
          font-feature-settings: "liga" off, "clig" off;
          font-family: var(--texpreset-4);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: 110%;
        }
        .footer-content-button {
          display: flex;
          align-items: flex-start;
          gap: var(--spacing-100);
          padding: var(--spacing-200) var(--spacing-500);

          border: unset;
          border-radius: 2.9rem;
          background: var(--purple-600);

          color: var(--white);
          font-feature-settings: "liga" off, "clig" off;
          font-family: var(--texpreset-5);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 900;
          line-height: 150%;
          span {
            color: var(--purple-300);
          }
        }
      }
    }
    .footer-hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(77, 150, 168, 0.9);
      z-index: -1;
    }
  }
}
