/* Custom CSS Variables */
:root {
  /* Typography Variables */
  --texpreset-1: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-1-font-size: 6.4rem;
  --textpreset-1-line-height: 110%;
  --textpreset-1-letter-spacing: 0rem;
  --texpreset-2: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-2-font-size: 4rem;
  --textpreset-2-line-height: 110%;
  --textpreset-2-letter-spacing: 0rem;
  --texpreset-3: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-3-font-size: 1.6rem;
  --textpreset-3-line-height: 110%;
  --textpreset-3-letter-spacing: 0.4rem;
  --texpreset-4: "RedHatMedium", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-4-font-size: 1.8rem;
  --textpreset-4-line-height: 110%;
  --textpreset-4-letter-spacing: 0rem;
  --texpreset-5: "RedHatBlock", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --testpreset-5-font-size: 1.6rem;
  --textpreset-5-line-height: 150%;
  --textpreset-5-letter-spacing: 0rem;
  /* Color Variables */
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);

  /* Spacing Variables */
  --spacing-1400: 12.2rem;
  --spacing-1000: 8rem;
  --spacing-900: 7.2rem;
  --spacing-800: 6.4rem;
  --spacing-700: 5.6rem;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
  --sapcing-50: 0.4rem;
}

html {
  font-size: 62.5%;
}

body {
}
